body{
    background: #D2FFB7;
}

.logo {
    margin-top: 20px;
    background-position: center;
}

img{
    border-radius: 30px;
    border: 2px solid;
    border-color: black;
}

.texto{
    border-radius: 10px;
    text-align: left;
    position: relative;
    margin-left: 70px;
}

.title{
    font-family: cursive;
    font-size: 25px;
    position: relative;
    top: 100px;
    left: -400px;
}
.subtitle{
    font-family: cursive;
    font-size: 12px;
    position: relative;
    top: 80px;
    left: -425px;
    text-decoration: none;
}
.MyRides{
    position: relative;
    top: 20px;
    left: -187px;
}
.currentRides{
    position: relative;
    font-family: 'Times New Roman';
    font-size: 12px;
    top: 20px;
    left: -170px;
}

.firstNameLabel{
    padding: -20px;
    position: relative;
    font-family: cursive;
    font-size: 14px;
    top: -15px;
    left: 50px;
}
.lastnameLabel{
    padding: -20px;
    position: relative;
    font-family: cursive;
    font-size: 14px;
    top: -35px;
    left: 50px;
}
.phoneLabel{
    padding: -20px;
    position: relative;
    font-family: cursive;
    font-size: 14px;
    top: -50px;
    left: 50px;
}
.usernameLabel{
    padding: -20px;
    position: relative;
    font-family: cursive;
    font-size: 14px;
    top: -60px;
    left: 50px;
}
.passLabel{
    padding: -20px;
    position: relative;
    font-family: cursive;
    font-size: 14px;
    top: -80px;
    left: 50px;
}
.confPassLabel{
    padding: -20px;
    position: relative;
    font-family: cursive;
    font-size: 14px;
    top: -95px;
    left: 50px;
}
.fNTextbox{
    padding: 0%;
    border-radius: 10px;
    position: relative;
    top: -25px;
    left: 100px;
    width: 180px;
    display: inline-block;
}
.lNTextbox{
    padding: 0%;
    border-radius: 10px;
    position: relative;
    top: -45px;
    left: 100px;
    width: 180px;
    display: inline-block;
}
.phoneTextbox{
    padding: 0%;
    border-radius: 10px;
    position: relative;
    top: -65px;
    left: 100px;
    width: 180px;
    display: inline-block;
}
.uNTextbox{
    padding: 0%;
    border-radius: 10px;
    position: relative;
    top: -75px;
    left: 100px;
    width: 180px;
    display: inline-block;
}
.pTextbox{
    padding: 0%;
    border-radius: 10px;
    position: relative;
    top: -90px;
    left: 100px;
    width: 180px;
    display: inline-block;
}
.cPTextbox{
    padding: 0%;
    border-radius: 10px;
    position: relative;
    top: -110px;
    left: 100px;
    width: 180px;
    display: inline-block;
}

.lastname{
    position: relative;
    top: -10px;
}

.Welcome{
    color:black;
    align-self: center;
    font-size: 40px;
}

.initialPanel{
    position: relative;
    margin-top: -40px;
    margin-bottom: 50px;
    width: 50%;
    height: 630px;
    top: 50px;
    left: 25%;
    background-color: rgba(32, 66, 41, 0.473);

}
.loginHere{
    position: relative;
    top: 0px;
    left: 850px;
}

.loginPanel{
    position:relative;
    margin-top: -10px;
    margin-bottom: -50px;
    width: 35%;
    height: 500px;
    top: 50px;
    left: 33%;
    background-color: rgba(32, 66, 41, 0.473);
}

.registryPanel{
    position:relative;
    margin-top: 0px;
    margin-bottom: -50px;
    width: 35%;
    height: 600px;
    top: 25px;
    left: 37%;
    background-color: rgba(32, 66, 41, 0.473);
}


.findMyRide{
    border-radius: 10px;
    border: 2px solid black;
    position: relative;
    width: 550px;
    height: 30px;
}

.from{
    position: relative;
    text-align: left;
    margin: 10px;
    margin-top: 5px;
}

.to{
    position: inherit;
    display: inline-block;
    top: -45px;
    left: 15px
}

.textBox{
    border-radius: 10px;
    position: inherit;
    top: -44px;
    left: 15px;
    display: inline-block;
}

.textBoxUsername{
    border-radius: 10px;
    position: inherit;
    top: -15px;
    left: -35px;
    width: 180px;
    display: inline-block;
}

.textBoxPass{
    border-radius: 10px;
    position: inherit;
    top: -30px;
    left: -35px;
    width: 180px;
    display: inline-block;
}

.usernameTex{
    position: relative;
    font-family: cursive;
    font-size: 18px;
    left: -80px;
}

.fullName{
    float: left;
    margin-left: 50px;
    font-family: cursive;
    font-size: 18px;
}

.fullNameTextbox{
    position: relative;
    top: 50px;
    left: -125px;
    font-family: cursive;
    font-size: 14px;
    border-radius: 10px;
}

.speedAverage{
    float: left;
    margin-top: 80px;
    margin-left: -80px;
    font-family: cursive;
    font-size: 18px;
}

.speedAverageTextbox{
    position: relative;
    top: 110px;
    left: -300px;
    font-family: cursive;
    font-size: 14px;
    border-radius: 10px;
}

.aboutMe{
    float: left;
    margin-top: 140px;
    margin-left: -127px;
    font-family: cursive;
    font-size: 18px;
}

.aboutMeTextbox{
    position: relative;
    top: 50px;
    left: 55px;
    width: 75%;
    height: 60px;
    font-family: cursive;
    font-size: 14px;
    border-radius: 10px;
}

.btnCancel{
    position: relative;
    top: 100px;
    left: -300px;
    background-color:#4CAF50; 
    border-radius: 15px;
    color: black;
    text-decoration: none;
    padding: 10px 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-family: Verdana;
    
}
.btnSave{
    position: relative;
    top: 62px;
    left: 40px;
    background-color:#4CAF50; 
    border-radius: 15px;
    color: black;
    text-decoration: none;
    padding: 10px 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-family: Verdana;
}

.RideName{
    position: relative;
    top: 10px;
    left: -200px;
    font-family: cursive;
    font-size: 18px;
}

.RideNameTextbox{
    position: relative;
    top: -30px;
    left: -50px;
    font-family: cursive;
    font-size: 14px;
    border-radius: 10px;
}

.StartDate{
    position: relative;
    top: -30px;
    left: -200px;
    font-family: cursive;
    font-size: 18px;
}

.StartDateTextbox{
    position: relative;
    top: -40px;
    left: -165px;
    font-family: cursive;
    font-size: 14px;
    border-radius: 10px;
}

.EndDate{
    position: relative;
    top: -115px;
    left: 0px;
    font-family: cursive;
    font-size: 18px;
}

.EndTextbox{
    position: relative;
    top:-125px;
    left: 70px;
    font-family: cursive;
    font-size: 14px;
    border-radius: 15px;
}

.Description{
    position: relative;
    top: -125px;
    left: -200px;
    font-family: cursive;
    font-size: 18px;
}

.Descriptionbox{
    position: relative;
    top:-125px;
    left: -50px;
    width: 400px;
    height: 50px;
    font-family: cursive;
    font-size: 14px;
    border-radius: 15px;
}

hr{
    position: relative;
    top: -120px;
}

.when{
    position: relative;
    top: -125px;
    left: -220px;
    font-family: cursive;
    font-size: 18px;
}


.pass{
    position: relative;
    font-family: cursive;
    font-size: 18px;
    top: -15px;
    left: -80px;
}

.NotRegistered{
    position: relative;
    right: -170px;
    top: -15px; 
}

/*Botones */
.login {
    border-radius: 20px;
    background-color: #4CAF50;
    border:1px black solid;
    color: rgb(38, 61, 39);
    padding: 10px 30px;
    text-align: center;
    text-decoration: black;
    display: inline-block;
    font-size: 16px;
    font-family: Verdana;
    position: relative;
    left: 58%;
}
.loguear {
    border-radius: 20px;
    background-color: #4CAF50;
    border:1px black solid;
    color: black;
    padding: 10px 30px;
    text-align: center;
    text-decoration: black;
    display: inline-block;
    font-size: 16px;
    font-family: Verdana;
    position: relative;
    top: -15%;
    left: 0px;
}
.btnFind {
    border-radius: 20px;
    background-color: #4CAF50;
    border:1px black solid;
    color: rgb(38, 61, 39);
    padding: 1px 20px;
    text-align: center;
    text-decoration: black;
    display: inline-block;
    font-size: 16px;
    font-family: Verdana;
    position: inherit;
    top: -42px;
    left:  20px;
}
.btnRegister{
    border-radius: 20px;
    background-color: #4CAF50;
    border:1px black solid;
    color: rgb(38, 61, 39);
    padding: 10px 30px;
    text-align: center;
    text-decoration: black;
    display: inline-block;
    font-size: 16px;
    font-family: Verdana;
    position: relative;
    top: -70px;
    left: -20px;
}

.menu{
    background-color: rgb(19, 61, 21);
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    color: white;
    border-radius: 20px;
    width: 50%;
    height: 43px;
}

.btnsMenu{
    float: left;
    margin: 6px;
    background-color: rgba(39, 126, 43, 0.993);
    border-radius: 15px;
    color: white;
    padding: 10px, 30px;
    width: 100px;
    height: 30px;
    text-decoration: none;
    align-items: center;
    line-height: 150%;
}

.tablediv{
    background-color: rgba(32, 66, 41, 0.473);
    position: relative;
    top: 70px;
    left: 0px;
    width: 550px;
    height: 400px;

}
/*Tablas*/

#customers {
    align-items: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    position: relative;
    top: 10px;
    width: 85%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 5px;
}

#customers tr:nth-child(even){
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    align-items: center;
    padding-top: 5px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgba(71, 71, 71, 0.801);
    color: white;
}



